.page {
  margin: 0;
  font-size: 16px;
  line-height: 20px;
  font-family: "Cabinet Grotesk", "Helvetica Neue", Arial, sans-serif;
  background-color: #fff;
}

.page__section {
  margin: 0 auto;
  max-width: 768px;
}

.reservation {
  padding-top: 166px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.reservation__image {
  margin-bottom: 30px;
  display: block;
}

.reservation__title {
  text-align: center;
  color: #252525;
  font-weight: 700;
  font-size: 42px;
  line-height: 44px;
  font-weight: 700;
  max-width: 380px;
  margin: 0 auto 24px;
}

.reservation__button {
  box-sizing: border-box;
  margin: 0;
  padding: 8px 32px;
  width: 100%;
  border-radius: 12px;
  border: 0;

  font-family: "Cabinet Grotesk", "Helvetica Neue", Arial, sans-serif;
  font-size: 24px;
  line-height: 44px;
  color: white;

  cursor: pointer;
  transition: opacity 0.4s;
  max-width: 260px;
  background-color: #252525;
}

.reservation__button:hover {
  opacity: 0.8;
}

.reservation__button:focus {
  outline-color: #fff6c5;
}

.modal {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  visibility: hidden;
  z-index: 1;
}

.modal_is-opened {
  visibility: visible;
}

.modal__content {
  z-index: 2;
  max-width: 496px;
  width: 100%;
  background-color: #fff;
  border-radius: 20px;
  position: relative;
  box-sizing: border-box;
  padding: 28px 28px 32px;
}

.modal__close-btn {
  width: 16px;
  height: 16px;
  background: url(./images/close-icon.svg) center no-repeat;
  border: none;
  position: absolute;
  top: 22px;
  right: 30px;
  transition: opacity 0.3s ease;
  cursor: pointer;
}

.modal__close-btn:hover {
  opacity: 0.6;
}

.modal__title {
  margin: 0 0 24px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
}

.form__fieldset {
  padding: 0;
  margin: 0;
  border: none;
}

.form__label {
  position: relative;
  display: block;
  margin-bottom: 12px;
}

.form__input {
  box-sizing: border-box;
  width: 100%;
  border: 0;
  padding: 10px;
  border: 1px solid #0000004d;
  border-radius: 8px;
  margin: 4px 0 0;
  font-weight: 700;
  font-family: "Cabinet Grotesk", "Helvetica Neue", Arial, sans-serif;
}

.form__input::placeholder {
  font-family: "Cabinet Grotesk", "Helvetica Neue", Arial, sans-serif;
  font-weight: 700;
  color: #00000080;
}

.form__label:last-of-type {
  margin-bottom: 24px;
}

.form__submit-btn {
  font-family: "Cabinet Grotesk", "Helvetica Neue", Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
  padding: 8px 16px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #252525;
  border-radius: 8px;
  border: none;
  transition: background-color 0.5s;
  margin-left: auto;
}

.form__submit-btn:hover {
  background: rgba(0, 0, 0, 0.8);
  cursor: pointer;
}

.modal_type_confirmation {
  top: unset;
  bottom: 32px;
  background-color: transparent;
}

.modal__content_type_confirmation {
  background-color: #c0cbff;
  max-width: 636px;
  padding: 20px 32px;
}

.modal__text {
  margin: 0;
  font-family: "Cabinet Grotesk", "Helvetica Neue", Arial, sans-serif;
  font-size: 24px;
  max-width: 90%;
}

@media screen and (max-width: 568px) {
  .modal__content {
    width: 100%;
    max-width: calc(100% - 16px * 2);
  }
}
